<table class="component-container">
    <tr class="aaa">
        <td>
            <div location="packingName" class="packingName"></div>
        </td>
        <td>
            <div location="content" class="content"></div>
        </td>
    </tr>

    <tr class="alt">
        <td>
            <div location="batchNumber1" class="batchNumber1"></div>
        </td>
        <td>
            <div location="batchNumber" class="batchNumber"></div>
        </td>
    </tr>
    <tr class="bbb">
        <td>
            <div location="excessMaterialWeightKg1" class="excessMaterialWeightKg1"></div>
        </td>
        <td>
            <div location="excessMaterialWeightKg" class="excessMaterialWeightKg"></div>
        </td>
    </tr>
    <tr class="alt">
        <td>
            <div location="finishedProductRate1" class="finishedProductRate1"></div>
        </td>
        <td>
            <div location="finishedProductRate" class="finishedProductRate"></div>
        </td>
    </tr>
    <tr class="bbb">
        <td>
            <div location="innerPackingQty1" class="innerPackingQty1"></div>
        </td>
        <td>
            <div location="innerPackingQty" class="innerPackingQty"></div>
        </td>
    </tr>
    <tr class="alt">
        <td>
            <div location="innerPackingBatchNumber1" class="innerPackingBatchNumber1"></div>
        </td>
        <td>
            <div location="innerPackingBatchNumber" class="innerPackingBatchNumber1"></div>
        </td>
    </tr>
    <tr class="bbb">
        <td>
            <div location="outerPackingQty1" class="outerPackingQty1"></div>
        </td>
        <td>
            <div location="outerPackingQty" class="outerPackingQty"></div>
        </td>
    </tr>
    <tr class="alt">
        <td>
            <div location="outerPackingBatchNumber1" class="outerPackingBatchNumber1"></div>
        </td>
        <td>
            <div location="outerPackingBatchNumber" class="outerPackingBatchNumber"></div>
        </td>
    </tr>
    <tr class="bbb">
        <td>
            <div location="innerLabelQty1" class="innerLabelQty1"></div>
        </td>
        <td>
            <div location="innerLabelQty" class="innerLabelQty"></div>
        </td>
    </tr>
    <tr class="alt">
        <td>
            <div location="outerLabelQty1" class="outerLabelQty1"></div>
        </td>
        <td>
            <div location="outerLabelQty" class="outerLabelQty"></div>
        </td>
    </tr>
    <tr class="bbb">
        <td>
            <div location="sealer1" class="sealer1"></div>
        </td>
        <td>
            <div location="sealer" class="sealer"></div>
        </td>
    </tr>
    <tr class="alt">
        <td>
            <div location="materialCollector1" class="materialCollector1"></div>
        </td>
        <td>
            <div location="materialCollector" class="materialCollector"></div>
        </td>
    </tr>
    <tr class="bbb">
        <td>
            <div location="weighingClerk1" class="weighingClerk1"></div>
        </td>
        <td>
            <div location="weighingClerk" class="weighingClerk"></div>
        </td>
    </tr>
    <tr class="alt">
        <td>
            <div location="internalMarkingClerk1" class="internalMarkingClerk1"></div>
        </td>
        <td>
            <div location="internalMarkingClerk" class="internalMarkingClerk"></div>
        </td>
    </tr>
    <tr class="bbb">
        <td>
            <div location="stackingClerk1" class="stackingClerk1"></div>
        </td>
        <td>
            <div location="stackingClerk" class="stackingClerk"></div>
        </td>
    </tr>
    <tr class="alt">
        <td>
            <div location="makingBillClerk1" class="makingBillClerk1"></div>
        </td>
        <td>
            <div location="makingBillClerk" class="makingBillClerk"></div>
        </td>
    </tr>
</table>