<div class="content__title">
    <h1>OPC</h1>
</div>

<div class="ant-card__body-nopadding sales-card">
    <nz-tabset>
        <nz-tab nzTitle="料仓">
            <div nz-row [nzGutter]="24" class="pt-lg">
                <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="4" *ngFor="let bin of binData">
                    <g2-card [title]="bin.canNo" contentHeight="200px">
                        <div class="card-title">
                            {{bin.invCode}}
                        </div>
                        <div class="pb-sm">
                            <div *ngIf="bin.status ==='close'; else openTemplate">
                                <nz-badge [nzStatus]="'error'"></nz-badge>
                                仓盖关闭
                            </div>

                            <ng-template #openTemplate>
                                <nz-badge [nzStatus]="'success'"></nz-badge>
                                仓盖打开
                            </ng-template>


                        </div>
                        <h3>趋势</h3>
                        <g2-mini-bar
                            title="趋势"
                            height="46"
                            [data]="data1.visitData"></g2-mini-bar>
                        <vt-gauge [value]="bin.actualRemainingQuantity"></vt-gauge>


                        <!--<g2-gauge  title="{{bin.canNo}}" height="164" [percent]="bin.actualRemainingQuantity"></g2-gauge>-->
                    </g2-card>

                </div>

            </div>
        </nz-tab>

        <nz-tab nzTitle="OPC">
            <nz-card [nzBordered]="false" class="ant-card__body-nopadding sales-card">
                <simple-table #st [data]="data" [ps]="20" [columns]="columns">
                    <ng-template st-row="custom" let-item let-index="index">
                        <a (click)="goToDetail(item)">{{item.itemId}}</a>
                    </ng-template>
                </simple-table>
            </nz-card>
        </nz-tab>
    </nz-tabset>
</div>
